attrs==25.4.0
beautifulsoup4==4.14.2
bs4==0.0.2
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
click-plugins==1.1.1.2
cligj==0.7.2
DateTime==5.5
elementpath==5.0.4
fiona==1.10.1
geopandas==1.1.1
idna==3.11
lxml==6.0.2
numpy==2.3.4
packaging==25.0
pandas==2.3.3
pyogrio==0.11.1
pyproj==3.7.2
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
soupsieve==2.8
tenacity==9.1.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.0
xmltodict==1.0.2
zope.interface==8.0.1
